@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-8xl;
    @apply font-bold;
  }

  h2 {
    @apply text-2xl;
    @apply font-semibold;
  }

  p {
    @apply text-lg;
    @apply text-muted;
  }

  :root {
    --background: 26, 47%, 97%;
    --foreground: 19, 23%, 25%;
    --card: 19, 23%, 25%;
    --card-foreground: 0 0% 250%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 21, 24%, 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 21, 23%, 49%;
    --secondary-foreground: 240 5.9% 10%;
    --outlet: 27, 26%, 93%;
    --muted: 21, 23%, 49%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 76, 13%, 83%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220, 11%, 84%;
    --input: 240 5.9% 90%;
    --button: 21, 23%, 49%;
    --button-foreground: 240 5.9% 90%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 345 8% 10%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 28 100% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 160 84% 39%;
    --secondary-foreground: #080808;
    --muted: 0 5% 58%;
    --muted-foreground: 0 0% 98%;
    --accent: 340 3% 23%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --button: 240, 6%, 10%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
